body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3170a0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('bglp.jpg');
  background-size: cover;
}

.login-container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

.login-form {
  padding: 10px;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: #333;
  margin: 0;
}

p {
  color: #777;
  margin-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  background: rgba(230, 224, 224, 0.9);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(14, 2, 2, 0.5);
  width: 400px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #132430;
}

input {
  width: calc(100% - 30px);
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #130101;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #3498db;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button.login-button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

button.login-button:hover {
  background-color: #2980b9;
  border-radius: 40px;
}

.message {
  text-align: center;
  margin-top: 20px;
  color: #3fc450;
  border-radius: 10px;
}

.message a.forgot-password-link {
  text-decoration: underline;
}

